In [17]:
# import library
import numpy as np
import pandas as pd
import random
from subprocess import check_output
import io

In [18]:
# load data
# 2021-01-01_2021-06-30
df = pd.read_csv("C:/nh/woe.csv")
df.head()

     직업_WOE    연령_WOE    성별_WOE  자녀나이_WOE
0  0.186836  0.091896  0.198495  0.329986
1 -0.049226 -0.077434 -0.216457  0.106162
2 -0.006779  0.635738       NaN  0.081333
3  0.181579       NaN       NaN -0.353240
4       NaN       NaN       NaN -0.193931

In [22]:
# subset = df.sample(n=4320, replace=True)
# subset.head()

     직업_WOE    연령_WOE    성별_WOE  자녀나이_WOE
0  0.186836  0.091896  0.198495  0.329986
3  0.181579       NaN       NaN -0.353240
4       NaN       NaN       NaN -0.193931
1 -0.049226 -0.077434 -0.216457  0.106162
5       NaN       NaN       NaN  0.222401

In [24]:
def readNumericCsvRandom(online_data, total_lines, sample_size=4320,header_row=True):
    sample = np.random.choice(total_lines, sample_size, header_row=True,
                               replace=replace, **kwargs)
    if replace:
      sample = np.unique(sample)
    sample.sort()
    data = StringIO()
    with open(online_data) as f:
        if header_row:
            header = 'id,' + f.readline()
            data.write(header)
        cumsum = 0
        for val in sample:
            skip = val - cumsum
            for _ in range(skip - 1):
                f.readline()
            _data = '{0},'.format(val) + f.readline()
            data.write(_data)
            cumsum = val
        data.seek(0)
        return pd.read_csv(data,**kwargs)

In [25]:
print(data)

NameError: name 'data' is not defined

In [12]:
직업_WOE = [0.186836, -0.049226, -0.006779, 0.181579],
연령_WOE = [0.091896, -0.077434, 0.635738],
성별_WOE = [0.198495, -0.216457],
자녀나이_WOE = [0.329986,0.106162,0.081333,-0.353240,-0.193931,0.222401472]

In [2]:
woe = [0.186836, -0.049226, -0.006779, 0.181579,0.091896, -0.077434, 0.635738,0.198495, -0.216457,0.329986,0.106162,0.081333,-0.353240,-0.193931,0.222401472]

In [3]:
# constants
sample_size = 4320
elements = np.arange(woe)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [10]:
def native_loop(num_samples, sample_size, elements):
    elements = list(elements) # because we later use .remove() method
    samples = []
    for _ in range(num_samples):
        sample = []
        candidate_elements = elements.copy()
        while len(sample) < sample_size:
            # choose an index as a candidate to include
            candidate_element = random.choice(candidate_elements)
            # decide whether to include in the sample or not
            if probs[candidate_element] >= random.random():
                sample.append(candidate_element)
                candidate_elements.remove(candidate_element)
        samples.append(sample)
    return samples

SyntaxError: unexpected EOF while parsing (<ipython-input-10-5bfe0eef6ed0>, line 1)