# 데이터 전처리

## 1. 레이블 인코딩

In [1]:
from sklearn.preprocessing import LabelEncoder
# LabelEncoder 시작하는 단어 대문자 - 객체

In [2]:
items = ['TV', '냉장고','전자레인지','컴퓨터','선풍기','믹서기','선풍기','믹서기']

## step1) 모든 문자를 숫자형으로 변환

In [3]:
# 레이블 인코더 객체 생성
encoder = LabelEncoder()

In [4]:
# 데이터를 주어서 시험해봄, 일종의 학습
encoder.fit(items)

LabelEncoder()

In [5]:
# 인코딩 변환값 반환
labels = encoder.transform(items)
labels

array([0, 1, 4, 5, 3, 2, 3, 2])

In [6]:
# 실전에서는
items = ['TV', '냉장고','전자레인지','컴퓨터','선풍기','믹서기','선풍기','믹서기']
encoder = LabelEncoder()
labels = encoder.fit_transform(items)
labels

array([0, 1, 4, 5, 3, 2, 3, 2], dtype=int64)

In [7]:
# 상급자들은
LabelEncoder().fit_transform(items)

array([0, 1, 4, 5, 3, 2, 3, 2], dtype=int64)

In [8]:
from sklearn.preprocessing import OneHotEncoder

## Step2: 2차원 데이터로 변환합니다.
labels = labels.reshape(-1,1)

## Step3: One-Hot Encoding 적용합니다.
## one-hot encoding
피처 값의 유형에 따라 새로운 피처를 추가해 고유 값에 해당하는 칼럼에만 1을 표시하고 나머지 칼럼에는 0을 표시하는 방식. 즉, 행 형태로 돼 있는 피처의 고유 값을 열 형태로 차원을 변환한 뒤, 고유 값에 해당하는 칼럼에만 1을 표시하고 나머지 칼럼에는 0을 표시합니다.

In [9]:
labels = LabelEncoder().fit_transform(items)

In [10]:
type(labels)

numpy.ndarray

In [11]:
# 객체 생성 학습 후, 변환
ohencoder = OneHotEncoder()
labels = labels.reshape(-1,1)
ohencoder.fit(labels)
one_hot = ohencoder.transform(labels)
one_hot

<8x6 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [13]:
print(one_hot.toarray())
# 인코딩 변환값: array([0, 1, 4, 5, 3, 2, 3, 2])

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0.]]

In [15]:
# 실전에서는
labels = LabelEncoder().fit_transform(items)
labels = labels.reshape(-1,1)
oh_encoder = OneHotEncoder()
one_hot = oh_encoder.fit_transform(labels.reshape(-1,1))
one_hot.toarray()

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [21]:
# PANDAS에서의 원-핫 인코딩(One-Hot Encoding)
items = ['TV', '냉장고', '전자레인지', '컴퓨터', '선풍기', '믹서', '믹서']
df_1 = pd.DataFrame({'item':items})
print(pd.get_dummies(df_1))

   item_TV  item_냉장고  item_믹서  item_선풍기  item_전자레인지  item_컴퓨터
0        1         0        0         0           0         0
1        0         1        0         0           0         0
2        0         0        0         0           1         0
3        0         0        0         0           0         1
4        0         0        0         1           0         0
5        0         0        1         0           0         0
6        0         0        1         0           0         0

## 3.  StandardScaler

In [17]:
from sklearn.datasets import load_iris
iris = load_iris()

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
iris_std = scaler.fit_transform(iris.data)

In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.DataFrame(iris_std, columns=iris.feature_names)
df['species'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,-0.900681,1.019004,-1.340227,-1.315444,0
1,-1.143017,-0.131979,-1.340227,-1.315444,0
2,-1.385353,0.328414,-1.397064,-1.315444,0
3,-1.506521,0.098217,-1.283389,-1.315444,0
4,-1.021849,1.249201,-1.340227,-1.315444,0

In [22]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02,150.000000
mean,-1.468455e-15,-1.823726e-15,-1.610564e-15,-9.473903e-16,1.000000
std,1.003350e+00,1.003350e+00,1.003350e+00,1.003350e+00,0.819232
min,-1.870024e+00,-2.433947e+00,-1.567576e+00,-1.447076e+00,0.000000
25%,-9.006812e-01,-5.923730e-01,-1.226552e+00,-1.183812e+00,0.000000
50%,-5.250608e-02,-1.319795e-01,3.364776e-01,1.325097e-01,1.000000
75%,6.745011e-01,5.586108e-01,7.627583e-01,7.906707e-01,2.000000
max,2.492019e+00,3.090775e+00,1.785832e+00,1.712096e+00,2.000000

## 4. MinMaxScaler

In [23]:
from sklearn.preprocessing import MinMaxScaler
mm_scaler = MinMaxScaler()
iris_scaled = mm_scaler.fit_transform(iris.data)

In [24]:
df2 = pd.DataFrame(iris_scaled, columns=iris.feature_names)
df2.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [25]:
df2.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,0.428704,0.440556,0.467458,0.458056
std,0.230018,0.181611,0.299203,0.317599
min,0.000000,0.000000,0.000000,0.000000
25%,0.222222,0.333333,0.101695,0.083333
50%,0.416667,0.416667,0.567797,0.500000
75%,0.583333,0.541667,0.694915,0.708333
max,1.000000,1.000000,1.000000,1.000000