# 1) 데이터 전처리

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# pima indian data read
import pandas as pd
diabetes = pd.read_csv('C:/machine_python/pima_indians.csv')
print(diabetes['Outcome'].value_counts())
diabetes.head()
# 전체 768개 데이터 중 positive(1)=268, negative(0)=500 구성

0    500
1    268
Name: Outcome, dtype: int64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [19]:
# Feature 데이터
diabetes.shape

(768, 9)

In [3]:
# diabetes 데이터 훑기(feature type 및 null 개수)
diabetes.info()
# null값 존재하지 않기 때문에 별도의 작업 필요 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [29]:
# 피처 데이터세트 x, 레블 데이터세트 y추출(슬라이싱)
X = diabetes.iloc[:, :-1]
y = diabetes['Outcome']

# 2) Train/Test 데이터 셋으로 분리

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, diabetes.Outcome, stratify=diabetes.Outcome,
    test_size=0.25,random_state=156
)

In [51]:
# 정규화를 위한 모듈 사용
from sklearn.preprocessing import StandardScaler
std_scl = StandardScaler()
std_scl.fit(X_train)
X_train = std_scl.transform(X_train)
X_test = std_scl.transform(X_test)

In [52]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((576, 8), (192, 8), (576,), (192,))

In [53]:
y_test

84     1
604    1
739    1
762    0
411    0
      ..
111    1
527    0
682    0
613    0
557    0
Name: Outcome, Length: 192, dtype: int64

In [54]:
y_test.value_counts()

0    125
1     67
Name: Outcome, dtype: int64

# 3) 머신러닝 알고리즘을 적용해 학습

In [55]:
# 결정트리
from sklearn.tree import DecisionTreeClassifier

In [56]:
# 객체 생성 --> 모델 생성, 괄호 안은 Hyper Parameter
dtc = DecisionTreeClassifier(random_state=156)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=156)

# 4) 예측수행

In [57]:
pred = dtc.predict(X_test)

In [58]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.6979166666666666

# 5) 예측값과 실제값을 비교해 모델 성능 평가

In [38]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, pred)
print(f'결정트리 예측 정확도: {score:.4f}')

결정트리 예측 정확도: 0.6875

# 3-5 과정과 하이퍼 파라미터 튜닝을 동시에

In [59]:
from sklearn.model_selection import GridSearchCV

In [60]:
params = {
    'max_depth':[2,4,6],
    'min_samples_split':[2,3,4]
}

In [61]:
dtc = DecisionTreeClassifier(random_state=1)
grid_dtc = GridSearchCV(dtc, param_grid=params, cv=3) # 검증세트 3번씩, 총 27번 돌아감
grid_dtc.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=1),
             param_grid={'max_depth': [2, 4, 6],
                         'min_samples_split': [2, 3, 4]})

In [62]:
grid_dtc.best_score_

0.748263888888889

In [63]:
grid_dtc.best_params_

{'max_depth': 6, 'min_samples_split': 4}

In [64]:
pred=grid_dtc.best_estimator_.predict(X_test)
accuracy_score(y_test,pred)

0.6822916666666666

In [ ]:
# 실제 값 하나를 주고 당뇨병인지 아닌지 여부를 확인(shape 1차원이기 떄문에 x, 2차원으로)
estimator = [4,110,92,0,0,37.6,0.191,30]
predict = estimator.predict(np.arrary(test_data).reshape(1,8))

In [ ]:
predict

In [ ]:
predict[0]

In [ ]:
dtc.predict([test_data])[0]